body{
    background-color: lightgray;
}

.topoSite{
    background-color: bisque;
    border: solid 2px blue;
    padding-top: 75px;
    width: 100%;
    height: 75px;
}

#titulo{
    position: relative;
    bottom: 50%;
    text-align: center;
    color: darkgreen;
}

#cppLogo{
    position: absolute;
    top: 55px;
    left: 25px;
    width: 125px;
    height: 125px;
}

#javaLogo{
    position: absolute;
    top: 55px;
    right: 25px;
    width: 125px;
    height: 125px;
}

.menuNav{
    padding: 10px;
    background-color: lightskyblue;
    text-align: center;
}

.menuNav a{
    text-decoration: none;
    padding: 30px;
    color: darkred;
}

.corpoLivros{
    margin-left: auto;
    margin-right: auto;
}

.corpoLivros img{
    padding: 30px 60px;
}

#book1{
    width: 250px;
    height: 250pt;
}
#book2{
    width: 275px;
    height: 250pt;
}
#book3{
    width: 250px;
    height: 250pt;
}

.corpoVideos iframe{
    padding: 25px;
}

.tabelaContatos table{
    margin-left: auto;
    margin-right: auto;
    border: dashed red
}

.tabelaContatos tr td{
    border: solid red 1px;
    padding: 7px;
}

#cabecalho{
    color: red;
}

.sites{
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: 33.33%;
    margin-left: 33.33%;
    background-color: yellow;
    text-align: left;
}

.sites a{
    text-decoration: none;
    position: relative;
    left: 25%;
    color: darkred;
}

#lista{
    position: relative;
    bottom: 10px;
    text-align: left;
}

.texto{
    text-align: center;
}

#corpoTexto{
    font-family: sans-serif;
    font-size: 20pt;
    color: indigo;
}

.rodape{
    background-color: bisque;
    text-align: center;
}

.rodape p{
    position: relative;
    top: 75px;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 15pt;
}

#htmlLogo{
    position: relative;
    right: 45%;
    bottom: 20px;
    width: 125px;
    height: 125px;
}

#cssLogo{
    position: relative;
    left: 45%;
    bottom: 20px;
    width: 90px;
    height: 125px;
}

#link{
    text-align: center;
    padding: 0 0 20px 0;
}

#link a{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 10px;
}

#link:hover{
    opacity: 0.5;
}