.fundo{
    display: flex;
    justify-content: center;
}

#canvas{
    background: white;
    border: solid 1px black;
}

#link{
    text-align: center;
    padding: 0 0 20px 0;
}

#link a{
    text-decoration: none;
    color: whitesmoke;
    background-color: grey;
    padding: 10px;
}

#link:hover{
    opacity: 0.5;
}