<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleShop.css" rel="stylesheet">
    <title>Erro ao logar</title>
</head>
<body>
    <div class="erro">
        <div><h1><%= resposta %></h1></div>

        <div class="redirect">
            <a href="/page_login_shop">Retornar à página de login</a>
        </div>
    </div>
</body>
</html>