<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/projetos/Dev. Web - Att 10 (Shop)/styleShop.css" rel="stylesheet">
    <title>Cadastro</title>
</head>
<body>
    <div id="resp">
        <h1>Estou no erro_login</h1>
        <div><h1><%= resposta %></h1></div>

        <div><a href="/page_login_shop">Login</a></div>
    </div>
</body>
</html>