<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso</title>
</head>
<body>
    <h1>Resposta</h1>
    <p>
        <h2><%= resposta %></h2>
    </p>

    <a href="/projetos/Dev.%20Web%20-%20Att%208%20(Server)/Login.html">Voltar para o login</a>
    
</body>
</html>